.block{
        width: 100px;
        height: 100px;
        border-bottom:8px #0ba891 solid;
        border-top:5px #fff dashed;
        border-right: 10px #9565e8 dotted;
        border-left:3px #c25d7d solid;
        background-color: #c41515;  
    
}
